/* Globals */
a,a:focus,a:hover{color:#704a1d;}
html,body{height:100%;background-color:#d8edf3;}

body{
    color:#704a1d;
    text-align:center;
    background-image: url(Images/apple.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}

.hide{display:none;}
.landing-heading{font-family:'Raleway',monospace;font-weight:400;}

/* Buttons */
.btn{font-family:'Raleway',monospace;padding:0.5625rem 2.5rem;font-size:0.8125rem;font-weight:400;line-height:0.1rem;border-radius:15px!important;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn-lg{font-size:0.875rem;padding:0.6875rem 3.4375rem;line-height:0.1rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{color: #704a1d;background-color:#FFFFFF;border:0px solid #270F34;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#704a1d;border:0px solid #2C96FF;background-color:#0db779;}

/* Avatar */
.avatar{width:50px;height:50px;}
.avatar-section{margin:10px;}

/* Scaffolding */
.site-wrapper{display:table;width:100%;height:100%;min-height:100%;}
.site-wrapper-inner{display:table-cell;vertical-align:middle;margin-right:auto;margin-left:auto;width:100%;}
.panel-authed{padding:0 0 0 0;}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Raleway',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}


#teacherName, #signout-button{
    background-color: #FFFFFF;
    padding:0px 10px;
    margin:0px 4px;
    margin-top: 1.5em;
    border-radius: .3rem;
}

#gradebookImage{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.header{
    background-color: #704a1d;
    padding: 0px 50px;
}
td{
    text-align: left;
}